<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.bookstore.user.domain"/>
        <package name="com.bookstore.board.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/user/UserMapper.xml"/>
        <mapper resource="mapper/board/BoardMapper.xml"/>
    </mappers>
</configuration>