.createCommentDiv {
    margin-top: 10px;
}

.createCommentTextArea {
    /* 크기 수정불가 */
    resize: none;
    wrap:hard;
}

.viewCommentH4 {
    border-bottom: 1px solid gray;
    padding: 10px 0px 10px 0px;
    margin: 50px 0px 0px 0px;
}

.commentDiv {
    border-bottom: 1px solid gray;
    padding: 10px 0px 10px 0px;
}

.commentUserNameDiv {
    float:left;
    padding-right: 10px;
}
