.boardsTable {
    border-collapse: collapse;
    border: 1px solid gray;
}

.boardsTable th {
    border: 1px solid gray;
}

.boardsTable tr td {
    border: 1px solid gray;
}

.boardsTable tr span {
    cursor: pointer;
}
