.section {
    float: left;
}

.nav {
    float: left;
    width: 200px;
}

.nav div {
    padding-top: 10px;
    padding-bottom: 10px;
}

#login {
    display: none;
}

#logout {
    display: none;
}