<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookstore.board.mapper.BoardMapper">
    <insert id="saveBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="boardUid" keyColumn="boardUid">
        INSERT INTO BOARD
          (SUBJECT, CONTENTS, AUTHOR, REG_DATE)
        VALUES
          (#{boardSubject}, #{boardContents}, #{boardAuthor}, #{boardRegDate})

        <selectKey keyProperty="boardUid" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <select id="findAllBoards" resultType="Board">
        SELECT
         BOARD_UID as boardUid,
         SUBJECT as boardSubject,
         CONTENTS as boardContents,
         AUTHOR as boardAuthor,
         REG_DATE as boardRegDate
        FROM BOARD
    </select>

    <select id="findByBoardUid" parameterType="int" resultType="Board">
        SELECT
         BOARD_UID as boardUid,
         SUBJECT as boardSubject,
         CONTENTS as boardContents,
         AUTHOR as boardAuthor,
         REG_DATE as boardRegDate
        FROM BOARD
        WHERE BOARD_UID = #{boardUid}
    </select>
</mapper>